*:after {
    content:'';
    display:block;
    clear:both;
}
.pull-right {
    margin:0 5px 0 5px;
}
.list-admin {
    display:none;
}
.list-group-item {
    cursor:pointer;
}
.list-group-item.open {
    background:#5cb85c;
    color:white;
}